mixin list(users)
    ul
        each user in users 
            li = user



doctype html
html(lang="ua")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Надія Шеремет - Консультант Herbalife Харків
        link(rel="stylesheet", href="css/styles.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Arsenal&family=Gabriela&family=Genos&family=Lobster&family=Roboto+Mono&family=Rubik&display=swap", rel="stylesheet")
    body 
        header.header.wrapper.down-gradient 
            .header-menu.wrapper 
                .header-menu-logo
                ul.header-menu-main
                    li.header-menu-item
                        a(href="#").header-menu-reference програми
                    li.header-menu-item
                        a(href="#").header-menu-reference про мене 
                    li.header-menu-item
                        a(href="#").header-menu-reference принципи
                    li.header-menu-item
                        a(href="#").header-menu-reference результати
                    li.header-menu-item
                        a(href="#").header-menu-reference контакти
                .burger меню
            h1.header-huge Досягніть своїх мрій з Herbalife
            hr.header-devider
            p.header-text Знайдіть ідеальний спосіб підтримувати своє здоров'я та фізичну форму разом з професійним тренером Herbalife.
            button.header-button звязатись зі мною
        main 
            nav.wrapper.programs.vertical-wrapper.down-gradient
                h2.programs--header програми
                hr.programs--devider
                .programs--container
                    .programs--card
                        h3.programs--card-caption Зниження ваги
                        img(src="img/content/base.jpg", alt="Програма зниження ваги Herbalife").programs--card-picture
                        button.programs--card-button Детальніше
                    .programs--card
                        h3.programs--card-caption Набір м'язової маси
                        img(src="img/content/cr7.jpg", alt="Протеїновий коктейль перед тренуванням та після тренування").programs--card-picture
                        button.programs--card-button Детальніше
                    .programs--card
                        h3.programs--card-caption Зміцнення імунітету
                        img(src="img/content/imune.jpg", alt="Ім'юн б'юстер, шизандра і роузгард").programs--card-picture
                        button.programs--card-button Детальніше
            article.wrapper.about.vertical-wrapper.down-gradient
                h2.about--header про мене
                hr.about--devider
                h3.about--name Надія Шеремет
                .about--block 
                    .about--container
                        p.about--text Я професійний консультант з харчування та здорового 
                            | способу життя, організатор марафону стрункості. Мій 
                            | особистий результат мінус 11 кг.

                        p.about--text З 2013 року є незалежним партнером Herbalife 
                            | Nutrition. Завдяки моїй роботі, багато людей 
                            | отримали результати у знижені ваги. 

                        p.about--text У 2019 році разом із сестрою відкрила власний клуб
                            | здорового способу життя у центрі м. Харків.
                        
                        p.about--text з 2020 проводжу онлайн марафон стрункості, який
                            | триває по сьогоднішній день.

                        p.about--text Навчалась у провідних спеціалістів 
                        p.about--country__ua України:
                        a(href="#").about--reference Олександр Мартинчук
                        p.about--country__usa США:
                        a(href="#").about--reference Девід Хібер   

                    .about--container
                        img(src="img/photo/about_nadia_sheremet.jpg", alt="").about--photo

            .principes.wrapper.vertical-wrapper.down-gradient
                h2.principes--header принципи
                hr.principes--devider
                .principes--container
                    p.principes--text Основний принцип -  здоров'я це саме головне.
                        | Здоров'я є найважливішою складовою життя, 
                        | тому його потрібно берегти. Всі прийняті рішення 
                        | та дії повинні сприяти збереженню та підтримці 
                        | фізичного, ментального та психічного здоров'я. 
                    p.principes--text Основний фокус на змістовне харчування. План
                        | прийому їжі. Це не означає жорсткий режим чи 
                        | заборону. Це банальне розуміня, що ми вкладаємо 
                        | в свій організм і які від цього наслідки. 
                    p.principes--text Акцент не на тяжкі фізичні навантаження, а ті, які
                        | оптимальні для нинішньої фізичної форми людини.
                        | Зменшення жирової чи накопичення м'язової маси
                        | залежить не тільки від роботи в тренажерному залі, 
                        | а також і від відпочинку, здорового сну та балансу
                        | гормонів.
                    p.principes--text Використання методик, підтверджених науково 
                        | формул для розрахунку параметрів тіла, раціону.
                        | Рекомендація  сертифікованих продуктових 
                        | лінійок, які піддавались клінічним дослідженням.
                        | Посилання на дослідження

            section.wrapper.results.vertical-wrapper.down-gradient
                h2.results--header результати
                hr.results--devider
                .results--container
                    .results--block
                        h3.results--text За рік роботи мої клієнти сумарно скидують близько
                        .results--mass-holder 
                            .results--mass-value 3672
                            .results--mass-symbol кг
                    .results--block
                        .results--quote-block 
                            img(src="#", alt="#").results--quote-photo
                            .results--quote-name Віка 21 роки
                            .results--quote-speciality Туроператор
                            a(href="#").results--quote-icon.icon-email mail  
                            p.results--quote-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, nihil.
                        .results--quote-block 
                            img(src="#", alt="#").results--quote-photo
                            .results--quote-name Віка 21 роки
                            .results--quote-speciality Туроператор
                            a(href="#").results--quote-icon.icon-email mail  
                            p.results--quote-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, nihil.
                        .results--quote-block 
                            img(src="#", alt="#").results--quote-photo
                            .results--quote-name Віка 21 роки
                            .results--quote-speciality Туроператор
                            a(href="#").results--quote-icon.icon-email mail  
                            p.results--quote-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, nihil.

        footer.wrapper.contact.vertical-wrapper
            h2.contact--header  контакти
            hr.contact--devider
            .contact--block
                .contact--holder
                    img(src="img/photo/contact_nadia_sheremet.jpg", alt="#").contact-img
                .contact--holder
                    p.contact--text
                        a(href="#").contact--icon.icon-phone.icon Телефон 
                        span.contact--paragraph Lorem, ipsum.
                        a(href="#").contact--icon.icon-telegram.icon Telegram 
                        span.contact--paragraph Lorem, ipsum.
                        a(href="#").contact--icon.icon-facebook.icon Facebook
                        span.contact--paragraph Lorem, ipsum. 
                        a(href="#").contact--icon.icon-instagram.icon Instagram
                        span.contact--paragraph Lorem, ipsum. 
                        button.contact--button натисніть щоб я передзвонила
                        
                        ul.contact--reference 
                            li.contact--reference-li-holder
                                a(href="#").contact--reference-item Каталог
                            li.contact--reference-li-holder
                                a(href="#").contact--reference-item Збірних рецептів
                            li.contact--reference-li-holder
                                a(href="#").contact--reference-item Програма тренувань

         

