mixin list(users)
    ul
        each user in users 
            li = user



doctype html
html(lang="ua")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Herbalife - Nadia Sheremet
        link(rel="stylesheet" href="css/styles.css")
        //link(rel="preconnect" href="https://fonts.googleapis.com")
        //link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        //link(href="https://fonts.googleapis.com/css2?family=Seymour+One&display=swap" rel="stylesheet")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap" rel="stylesheet")
        //link(rel="preconnect" href="https://fonts.googleapis.com")
        //link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        //link(href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet")
    body 
        header.header.wrapper.down-gradient 
            .header-menu.wrapper 
                .header-menu-logo
                ul.header-menu-main
                    li.header-menu-item
                        a(href="#").header-menu-reference Програми
                    li.header-menu-item
                        a(href="#").header-menu-reference Про мене 
                    li.header-menu-item
                        a(href="#").header-menu-reference Принципи
                    li.header-menu-item
                        a(href="#").header-menu-reference Результати
                    li.header-menu-item
                        a(href="#").header-menu-reference Контакти
                .burger
            h1.header-huge Досягніть своїх мрій з Herbalife!
            hr.header-devider
            p.header-text Знайдіть ідеальний спосіб підтримувати своє здоров'я та фізичну форму разом з професійним тренером - Herbalife.
            button.header-button Звязатись зі мною
        main 
            nav.wrapper.programs.vertical-wrapper.down-gradient
                h2.programs--header Програми
                hr.programs--devider
                .programs--container
                    .programs--card
                        h3.programs--card-caption Зниження ваги
                        img(src="img/content/base.jpg" alt="Програма зниження ваги Herbalife").programs--card-picture
                        button.programs--card-button Детальніше
                    .programs--card
                        h3.programs--card-caption Набір м'язової маси
                        img(src="img/content/cr7.jpg" alt="Протеїновий коктейль перед тренуванням та після тренування").programs--card-picture
                        button.programs--card-button Детальніше
                    .programs--card
                        h3.programs--card-caption Зміцнення імунітету
                        img(src="img/content/imune.jpg" alt="Ім'юн б'юстер, шизандра і роузгард").programs--card-picture
                        button.programs--card-button Детальніше
            article.wrapper.about.vertical-wrapper.down-gradient
                h2.about--header Про мене
                hr.about--devider
                .about--block 

                    .about--container
                        p.about--text Я, Надія Шеремет — професійний консультант з харчування та здорового 
                            | способу життя, організаторка марафону стрункості. Мій 
                            | особистий результат — мінус 11 кг.

                        p.about--text З 2013 року я — незалежний партнер Herbalife 
                            | Nutrition. Завдяки моїй роботі багато людей 
                            | досягли успіху в зниженні ваги. 

                        p.about--text У 2019 році разом із сестрою я відкрила власний клуб
                            | здорового способу життя в центрі Харкова.

                        p.about--text З 2020 року я проводжу онлайн-марафон стрункості, 
                            | який триває й сьогодні.

                        p.about--text Навчалася у провідних спеціалістів.

                        p.about--country__ua Українa:

                        a(href="https://www.amazonkaclinic.com.ua/martinchuk-oleksandr-arkad%D1%96iovich/").about--reference Олександр Мартинчук

                        p.about--country__usa США:
                        a(href="https://www.herbalife.com/uk-ua/about-herbalife/our-experts/david-heber").about--reference Девід Хібер

                    img(src="img/photo/about_nadia_sheremet.jpg" alt="").about--photo

            .principes.wrapper.vertical-wrapper.down-gradient
                h2.principes--header Принципи
                hr.principes--devider
                .principes--container
                    p.principes--text Основний принцип — здоров'я понад усе. 
                        | Здоров'я — це найважливіша складова життя, 
                        | тому його потрібно цінувати й берегти. 
                        | Усі прийняті рішення та дії мають сприяти 
                        | збереженню й підтримці фізичного, ментального 
                        | та емоційного здоров'я. 
                    p.principes--text Основний фокус — на збалансованому харчуванні 
                        | та усвідомленому плануванні раціону. 
                        | Це не суворі дієти чи заборони, а розуміння того, 
                        | що ми вкладаємо в свій організм і яких наслідків 
                        | це може мати. 
                    p.principes--text Акцент — не на важких фізичних навантаженнях, 
                        | а на тих, які оптимальні для поточної фізичної форми людини. 
                        | Формування тіла залежить не лише від занять у спортзалі, 
                        | а й від якісного відпочинку, здорового сну та 
                        | гормонального балансу. 
                    p.principes--text Використання науково обґрунтованих методик 
                        | для розрахунку параметрів тіла й складання раціону. 
                        | Рекомендація сертифікованих лінійок продукції, 
                        | що пройшли клінічні дослідження. 
                        //| Посилання на дослідження

            //section.wrapper.results.vertical-wrapper.down-gradient
                h2.results--header Результати
                hr.results--devider
                .results--container
                    .results--block
                        h3.results--text За рік роботи, мої клієнти сумарно скидують близько:
                        .results--mass-holder 
                            .results--mass-value 3672 кг
                            //.results--mass-symbol кг
                    .results--block
                        .results--quote-block 
                            //img(src="#" alt="#")
                            .results--quote-photo
                            .results--quote-name Герман
                            //.results--quote-speciality skip
                            a(href="#").results--quote-icon.icon-email mail  
                            p.results--quote-text У мене все добре! Я щиро радий, що рік тому познайомився з вами. Саме завдяки вашій підтримці я змінив свої харчові звички, покращив самопочуття й наповнив своє життя енергією. Ви знаєте, що я використовую не лише продукти харчування, а й засоби для догляду за тілом — близько семи видів одночасно. Я перепробував більшість продукції, щоб краще зрозуміти її дію на організм і побачити, що саме вона допомагає покращити. Коли виникають запитання, я завжди отримую від вас цінні поради й рекомендації. Адже саме так має виглядати справжній наставник — людина, яка живе філософією компанії й невпинно крокує вперед, підкорюючи нові вершини. Я переконаний, що рік тому зробив правильний вибір — спочатку спробував тестову програму, згодом став незалежним партнером, а з часом — і супервайзером.
                        .results--quote-block 
                            //img(src="#" alt="#")
                            .results--quote-photo
                            .results--quote-name Ірина
                            //.results--quote-speciality skip
                            a(href="#").results--quote-icon.icon-email mail  
                            p.results--quote-text Мене звати Ірина, мені 54 роки. Мій результат — мінус 22 кг. До своєї мети я йшла дуже довго — понад 30 років. Так, саме так. Все життя минуло в боротьбі із зайвою вагою. Я перепробувала все, але нічого не допомагало. Я була розчарована. Коли моя консультантка запропонувала взяти участь у марафоні, я наважилася. Бажання бути здоровою (адже разом із зайвою вагою з’явилося багато хвороб), красивою та стрункою — перемогло. Марафон з харчування подарував мені нове життя в новому тілі. Вже 1,7 року я — вдячна клієнтка компанії Herbalife. З великим задоволенням вживаю наш корисний продукт! Один у полі — не воїн. Але коли поруч консультант, який завжди підкаже і підтримає, коли є команда однодумців, дух суперництва, прагнення не бути гіршою за інших — це надихає. Знання, теми з харчування, майстер-класи, спілкування і підтримка — усе це разом працює на досягнення мети.
                        .results--quote-block 
                            //img(src="#" alt="#")
                            .results--quote-photo
                            .results--quote-name Мар'яна
                            //.results--quote-speciality Туроператор
                            a(href="#").results--quote-icon.icon-email mail  
                            p.results--quote-text Доброго дня! Мене звати Мар'яна, я учасниця Марафону. Зі своїм консультантом Надійкою Шеремет я познайомилась телефоном — за рекомендацією подруги. Я з м. Павлоград. Завдяки власній рішучості я змінила своє життя. Як мені це вдалося? Я звернулася до професіонала у сфері харчування. Як і в будь-якій іншій справі. Наведу простий приклад: якщо болить зуб, ми можемо запитати знайомих, що робити, або шукати рецепти в Інтернеті (так само, як дієти для схуднення). Але краще звернутися до фахівця. Отже: Перший крок до успіху — прийняти рішення піти на Марафон стрункості. Другий — виконувати всі завдання та рекомендації свого консультанта. Третій — додати до раціону продукти компанії Гербалайф. Мій результат у Марафоні — мінус 13 кг. Як я почувалася раніше і як почуваюся зараз — це ніби дві різні людини! У мене стала пружною шкіра, з’явилася енергія, багато нових знайомств із позитивним настроєм — це наша спільнота!
    .wrapper.contact.vertical-wrapper
        h2.contact--header  Контакти
        hr.contact--devider
        .contact--block
            .contact--holder
                p.contact--text
                    a(href="#").contact--icon.icon-phone.icon Телефон 
                    span.contact--paragraph Мій телефон.
                    a(href="https://t.me/fanzozh").contact--icon.icon-telegram.icon Telegram 
                    span.contact--paragraph Мій телеграм.
                    a(href="https://www.facebook.com/nadia.seremet.451889").contact--icon.icon-facebook.icon Facebook
                    span.contact--paragraph Мій фейсбук. 
                    a(href="https://www.instagram.com/nadiya__sheremet?igsh=anlzNnVnZGh5ZTJi").contact--icon.icon-instagram.icon Instagram
                    span.contact--paragraph Мій інстаграм. 
                    button.contact--button Залиште заявку — я вам передзвоню!

            img(src="img/photo/contact_nadia_sheremet.jpg" alt="#").contact-img

    footer.footer#footer 
        .foot             
            ul.contact--reference 
                li.contact--reference-li-holder
                    a(href="#").contact--reference-item Збірник рецептів
                li.contact--reference-li-holder
                    a(href="#").contact--reference-item Каталог
                li.contact--reference-li-holder
                    a(href="#").contact--reference-item Програма тренувань
            hr
        p © 2025 Designed by watersidex




